@model PeopleHub.Model.FriendsViewModel

@{
    ViewBag.Title = "Мои друзья";
    Layout = "_Layout";
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="friends-tab" data-bs-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="true">Друзья</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="feed-tab" data-bs-toggle="tab" href="#feed" role="tab" aria-controls="feed" aria-selected="false">Лента</a>
    </li>
    @if (Model.FriendsInfo.Incoming.Any())
    {
        <li class="nav-item">
            <a class="nav-link" id="income-tab" data-bs-toggle="tab" href="#income" role="tab" aria-controls="income" aria-selected="false">
                Входящие <span class="badge badge-pill badge-success">@Model.FriendsInfo.Incoming.Count</span>
            </a>
        </li>
    }
    @if (Model.FriendsInfo.Outgoing.Any())
    {
        <li class="nav-item">
            <a class="nav-link" id="outcome-tab" data-bs-toggle="tab" href="#outcome" role="tab" aria-controls="outcome" aria-selected="false">
                Исходящие <span class="badge badge-pill badge-success">@Model.FriendsInfo.Outgoing.Count</span>
            </a>
        </li>
    }
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="friends" role="tabpanel" aria-labelledby="friends-tab">
        @if (Model.FriendsInfo.Friends.Any())
        {
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Фамилия, имя</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Город</th>
                    <th scope="col">#</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var friend in Model.FriendsInfo.Friends)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("User", "User", new {userId = friend.User.Id})">
                                @friend.User.Name
                            </a>
                        </td>
                        <td>@friend.User.Age</td>
                        <td>@friend.User.City</td>
                        <td>
                            <a class="btn btn-danger" title="Удалить из друзей" href="@Url.Action("CancelRequest", "Friends", new {targetUserId = friend.User.Id})"><i class="fa fa-user-times"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info">У вас пока нет друзей</div>
        }
    </div>
    <div class="tab-pane fade" id="feed" role="tabpanel" aria-labelledby="feed-tab">
        @if (Model.Feed.Any())
        {
            var authorNames = Model.FriendsInfo.Friends.ToDictionary(f => f.User.Id, f => f.User.Name);
            foreach (var post in Model.Feed)
            {
                <div class="card mt-3">
                    <div class="card-header">
                        @if (authorNames.TryGetValue(post.AuthorUserId, out var authorName))
                        {
                            <a href="@Url.Action("User", "User", new {userId = post.AuthorUserId})">@authorName</a>
                        }
                        else
                        {
                            <span>Пользователь #@post.AuthorUserId</span>
                        }
                    </div>
                    <div class="card-body">
                        <p class="card-text">@post.Text</p>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-info mt-3">В ленте пока нет постов</div>
        }
    </div>
    @if (Model.FriendsInfo.Incoming.Any())
    {
        <div class="tab-pane fade" id="income" role="tabpanel" aria-labelledby="income-tab">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Фамилия, имя</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Город</th>
                    <th scope="col">#</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var friend in Model.FriendsInfo.Incoming)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("User", "User", new {userId = friend.User.Id})">
                                @friend.User.Name
                            </a>
                        </td>
                        <td>@friend.User.Age</td>
                        <td>@friend.User.City</td>
                        <td>
                            <a class="btn btn-success" title="Добавить в друзья" href="@Url.Action("Approve", "Friends", new {requestId = friend.FriendRequestId})"><i class="fa fa-user-plus"></i></a>
                            <a class="btn btn-secondary" title="Оставить в подписчиках" href="@Url.Action("Reject", "Friends", new {requestId = friend.FriendRequestId})"><i class="fa fa-ban"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    @if (Model.FriendsInfo.Outgoing.Any())
    {
        <div class="tab-pane fade" id="outcome" role="tabpanel" aria-labelledby="outcome-tab">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Фамилия, имя</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Город</th>
                    <th scope="col">#</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var friend in Model.FriendsInfo.Outgoing)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("User", "User", new {userId = friend.User.Id})">
                                @friend.User.Name
                            </a>
                        </td>
                        <td>@friend.User.Age</td>
                        <td>@friend.User.City</td>
                        <td>
                            <a class="btn btn-warning" title="Отменить заявку" href="@Url.Action("CancelRequest", "Friends",new { targetUserId = friend.User.Id })"><i class="fa fa-ban"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</div>
