@using PeopleHub.Domain.Enums
@model IReadOnlyCollection<PeopleHub.Domain.Model.UserInfo>

@foreach (var user in Model)
{
    <tr>
        <td>
            <a href="@Url.Action("User", "User", new {userId = user.User.Id})">
                @user.User.Name
            </a>
        </td>
        <td>@user.User.Age</td>
        <td>@user.User.City</td>
        <td>
            @switch (user.Status)
            {
                case FriendRequestStatus.None:
                    <a class="btn btn-success" title="Добавить в друзья" href="@Url.Action("SendFriendRequest", "Friends", new {targetUserId = user.User.Id, returnUrl = Url.Action("Index", "User")})"><i class="fa fa-user-plus"></i></a>
                    break;
                case FriendRequestStatus.Sent:
                case FriendRequestStatus.Rejected:
                    <div class="alert alert-info"><i class="fa fa-clock"></i> Заявка отправлена</div>
                    break;
                case FriendRequestStatus.Approved:
                    <div class="alert alert-success"><i class="fa fa-check"></i> У вас в друзьях</div>
                    <a class="btn btn-danger" title="Удалить из друзей" href="@Url.Action("CancelRequest", "Friends", new {targetUserId = user.User.Id, returnUrl = Url.Action("Index")})"><i class="fa fa-user-times"></i></a>
                    break;
                default:
                    <div class="alert alert-danger"><strong>Неизвестный статус заявки: @user.Status.ToString("F")</strong></div>
                    break;
            }
        </td>
    </tr>
}
